# Gitignore for Java projects
# this contains files to be ignored when you are using Spring
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target
.recommenders
.metadata
.gradle
bin
.DS_Store
build
.project
.settings
.classpath
.private
.idea
*.iml
coursera-submission

